<html>
    <head>
        {% load staticfiles%} 
        <title>
            Change Your Password!
        </title>
    </head>
    <body>
        <form method="POST" action="." onsubmit="return(val());">{% csrf_token %}

            Old Password : <input type="password" name="oldpswd" id="oldpswd">
            <br><br>
        
            New Password : <input type="password" name="newpswd" id="newpswd">
            <br><br>
            <button type="submit" name="chngepswd" class="chngepswd">EDIT</button>
            <button type="button" onclick="location.href='/admin/home/'">HOME</button>
            {{msg}}

            <script>
                function val()
                {
                    var passwrd = document.getElementById("newpswd").value;
                    var check = new RegExp("^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*])(?=.{8,})");
                    if(check.test(passwrd) == false)
                    {
                        alert("Password not valid!");
                        return false;
                    }
                }
            </script>
    </body></html>