<html>
    <head>
        {% load staticfiles%} 
        <title>
            Login Page
        </title>
    </head>
    <body>
        <div id="whole">
        <form method="POST" action=".">{% csrf_token %}

            Username : <input type="text" name="user" id="user" required>
            <br><br>
            Password : <input type="password" name="pass" id="pass" required>
            <br><br>

            <button type="submit" name="loginok" class="loginOk" onclick="login_check()">Click LOGIN</button>
            &nbsp;&nbsp;
            <button type="button" onclick="location.href='/admin/forgetpassword/'">Forget Password?</button>
            <br><br>&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" onclick="location.href='/admin/signup/'">Register</button>
        </form>
    </div>
        <script src={% static 'js/app.js' %}></script> 
    </body>
</html>