<html>
    <head>
        {% load staticfiles%} 
        <title>
            Change Your Password!
        </title>
    </head>
    <body>
        <form method="POST" action="." onsubmit="return(val());">{% csrf_token %}

            Old Password : <input type="password" name="oldpswd" id="oldpswd">
            <br><br>
            <!-- Old Price : <input type="text" name="oldprice" id="oldprice">
            <br><br> -->
            New Password : <input type="password" name="newpswd" id="newpswd">
            <br><br>

            <button type="submit" name="chngepswd" class="chngepswd" onclick="window.location.href='/user/profile/changePassword/'">EDIT</button>
            <button type="button" onclick="location.href='/user/home/'">HOME</button>
        </form>
        {{msg}}

        <script>
            function val()
            {
                var passwrd = document.getElementById("newpswd").value;
                var check = new RegExp("^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*])(?=.{8,})");
                    console.log(passwrd);
                    if(check.test(passwrd) == false)
                    {
                        alert("Password not valid!");
                        return false;
                    }
            }
        </script>
    </body>
</html>